<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
   
</head>
<body>
<nav>
<a href="/" >Home</a>
<a href="/about" >About</a>
<a href="/education" >Education</a>
<a href="/skills" >Skills</a>
<a href="/contact" >Contact</a>
</nav>

    <div class="aboutme">
    	<div class="paraaboutme">
    		<h1>About ME</h1>
    		<p>
    			Hi, I'm Abhijeet Dahiwade, a passionate front-end developer skilled in building responsive and dynamic web applications using React.js, JavaScript, and Node.js. I’ve worked with design systems like Ant Design and Material UI, and I enjoy converting UI designs into functional, user-friendly interfaces.
				I recently completed an internship where I developed real-world projects using React, Redux Toolkit, and API integration. I also have hands-on experience with drag-and-drop libraries, component design, and building e-commerce-like interfaces inspired by platforms like Flipkart.
				I’m always eager to learn new technologies and contribute to meaningful projects that have a real impact. When I’m not coding, I enjoy athletics—I’m a national medalist in the 200m sprint!
    		</p>
    	</div>
    	<div class="basicinfo">
    		<h1>Bscic Information </h1>
    		<p> <b>Date of Birth :</b> 18-02-2003 </p>
    		<p> <b>Email:</b> Abhijeetdahiwde10@gmail.com </p>
    		<p> <b>phone no :</b> 7972953299 </p>
    		<p> <b>Address:</b> Parli vaijanth </p>
    	</div>
    </div>

    
</body>
</html>
