<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Education</title>
</head>
<body>
<nav>
<a href="/" >Home</a>
<a href="/about" >About</a>
<a href="/education" >Education</a>
<a href="/skills" >Skills</a>
<a href="/contact" >Contact</a>
</nav>
  <h1>Education</h1>

  <h2> Bachelor of Engineering in Computer Science</h2>
  <p><strong>College:</strong> College of Engineering, Ambajogai</p>
  <p><strong>CGPA:</strong> 8.83</p>
  <p><strong>Year:</strong> 2020 – 2024</p>

  <h2> Schooling</h2>
  <p><strong>Hometown:</strong> Parli Vaijnath</p>
  <p><strong>Intermediate & Schooling:</strong> Completed in Maharashtra State Board</p>

</body>
</html>
