<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>My Skills</title>
</head>
<body>
<nav>
<a href="/"  >Home</a>
<a href="/about" >About</a>
<a href="/education" >Education</a>
<a href="/skills" >Skills</a>
<a href="/contact" >Contact</a>
</nav>
  <h1>My Skills</h1>

  <h2> Programming Languages</h2>
  <ul>
    <li>JavaScript</li>
    <li>Java</li>
    <li>SQL</li>
  </ul>

  <h2>Front-End Development</h2>
  <ul>
    <li>React.js</li>
    <li>HTML & CSS</li>
    <li>Redux & Redux Toolkit</li>
    <li>React Router DOM</li>
    <li>Ant Design (ANTD)</li>
    <li>Material UI</li>
    <li>Drag-and-drop libraries</li>
  </ul>

  <h2> Tools & Technologies</h2>
  <ul>
    <li>Node.js</li>
    <li>Git & GitHub</li>
    <li>Rapid API Integration</li>
    <li>RESTful APIs</li>
    <li>Figma to Code Conversion</li>
  </ul>

  <h2> Extra</h2>
  <ul>
    <li>National Medalist – 200m Sprint</li>
    <li>Quick Learner & Team Player</li>
  </ul>

</body>
</html>
